<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Form</title>
</head>
<body>

    <form th:action="@{/getinfo/{id}}" method="GET" th:object="${Employee}" th:method="get">
        <label for="id">Input ID:</label>
        <input type="text" id="id" name="id" th:field="*{id}"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>